<!-- FOR BLANK ASSIGNMENT PAGES -->
<!DOCTYPE html>
<head>

<title>Grid Page</title>
<link rel="stylesheet" href="../personalstyle.css">
<!--favicon--> 
<link rel="icon" type="image/x-icon" href="../Images/favicon.ico">
</head>

<body class="background">
<div class="webbar" style="margin-left: 300px;">
    <h1 style="text-align: left;">FINAL PROJECT IDEAS</h1>
</div>

<!-- SIDEBAR -->
<div class="container">
    <div class="sidebar">
            <a class="sidebartext" href="../index.html">Home</a>
            <hr style="color: black; border: 1px solid black;">
            <a class="sidebartext" href="../01_intro/index.html">Week 1: Final Project Ideas</a>
            <hr style="color: black; border: 1px solid black;">
            <a class="sidebartext" href="../02_2Ddesign/index.html">Week 2: Introduction to 2D Fabrication</a>
            <hr style="color: black; border: 1px solid black;"> 
            <a class="sidebartext" href="../03_fabrication/index.html">Week 3: Fabrication/Mechanical Design</a>
            <hr style="color: black; border: 1px solid black;">
            <a class="sidebartext" href="../04_microcontroller/index.html">Week 4: Microcontroller Programming</a>
            <hr style="color: black; border: 1px solid black;">
            <a class="sidebartext" href="../05_3Ddesign/index.html">Week 5: 3D Design and Scanning</a>
            <hr style="color: black; border: 1px solid black;">
            <a class="sidebartext" href="../06_inputs/index.html">Week 6: Electronic Input Devices</a>
            <hr style="color: black; border: 1px solid black;">
            <a class="sidebartext" href="../07_outputs/index.html">Week 7: Electronic Output Devices</a>
            <hr style="color: black; border: 1px solid black;">
            <a class="sidebartext" href="../08_cnc/index.html">Week 8: CNC, Molding and Casting</a>
            <hr style="color: black; border: 1px solid black;">
            <a class="sidebartext" href="../09_networking/index.html">Week 9: Wired, Radio, WiFi, Bluetooth</a>
            <hr style="color: black; border: 1px solid black;">
            <a class="sidebartext" href="../10_machine/index.html">Week 10: Machine Building</a>
            <hr style="color: black; border: 1px solid black;">
            <a class="sidebartext" href="./13_finalproject/index.html">Week 13: Final Project</a>
            <hr style="color: black; border: 1px solid black;">
            <img style="width: 250px; height: auto; margin: 15px;border: 3px solid black;" src="../Images/Ajanta2.png" alt="Ajanta" >
</div>
<!-- END SIDEBAR -->   
